@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #333;
  overflow-y: scroll;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  background-color: #EC1F46;
  border: none;
  color: inherit;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Nunito";
  font-weight: 600;
}

.input {
  background: white;
  border-radius: 4px;
  font-size: 12px;
  line-height: 15px;
  padding: 17px 23px;
  margin-bottom: 15px;
  border: none;
}

.textarea {
  background: white;
  flex-basis: 100%;
  border-radius: 4px;
  padding: 18px 23px;
  resize: none;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 15px;
  border: none;
}

.section--disabled {
  display: none;
}

.header {
  background-color: #fff;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-top__menu-button {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
}
.header-logo__image {
  width: 177px;
}

.search-form {
  display: flex;
  margin-left: 108px;
  margin-right: auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.search-form__input {
  border: none;
  width: 350px;
  padding: 13px 80px 13px 23px;
  background-color: #F5FAFE;
  font-size: 12px;
  outline: none;
}
.search-form__input::-moz-placeholder {
  color: black;
}
.search-form__input:-ms-input-placeholder {
  color: black;
}
.search-form__input::placeholder {
  color: black;
}
.search-form__button {
  position: absolute;
  background-color: #EC1F46;
  border: none;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  cursor: pointer;
}

.user__link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}
.user__avatar {
  border-radius: 50%;
  outline: 1px solid black;
  outline-offset: -1px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
}
.user__name {
  margin-left: 18px;
}

.nav {
  background-color: #0A223D;
}
.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.nav__link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 31px 0;
  line-height: 18px;
}
.nav__item--mobile--visible {
  display: none;
}

.breadcrumbs {
  background-color: #F5FAFE;
}
.breadcrumbs-list {
  list-style-type: none;
  font-size: 10px;
  display: flex;
  padding: 19px 0;
  margin: 0;
}
.breadcrumbs-list__link {
  text-decoration: none;
  color: inherit;
}
.breadcrumbs-list__item:not(:last-child):after {
  content: "/";
  margin-right: 2px;
}

.hotel {
  padding: 18px 0px 70px;
  background-color: #F5FAFE;
}
.hotel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.hotel-stars {
  flex-basis: 100%;
  margin-bottom: 4px;
}
.hotel-stars__image {
  width: 8px;
  height: 8px;
}
.hotel-name {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 1px 0px;
}
.hotel-descriptrion {
  font-size: 12px;
  margin: 0;
}
.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hotel__user-rating {
  background-color: #EC1F46;
  border-radius: 4px;
  color: white;
  display: flex;
  padding: 7px;
  flex-direction: column;
  align-items: center;
}
.hotel-block {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.hotel-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel__booking {
  max-width: 350px;
  min-height: 210px;
  background-color: #0A223D;
  padding: 30px 29px 22px 24px;
  border-radius: 8px;
  font-family: Nunito, sans-serif;
  color: white;
}
.hotel__map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  background: url(../img/map.png) no-repeat center;
  overflow: hidden;
}

.user-rating__text {
  font-size: 8px;
  line-height: 10px;
}
.user-rating__counter {
  font-size: 14px;
  line-height: 18px;
}
.user-rating__max {
  font-size: 10px;
  line-height: 14px;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  color: white;
  background-color: #EC1F46;
  padding: 4px 9px 3px;
  border-radius: 3px;
  margin-left: 14px;
}

.photo-slider {
  width: 65.58%;
  min-width: 0;
  height: 450px;
}
.photo-slider__item {
  width: 100%;
  height: 100%;
}
.photo-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.photo-slider__button--prev {
  left: 16px;
  background: url("../img/arrow-prev.svg") center no-repeat;
}
.photo-slider__button--next {
  right: 16px;
  background: url("../img/arrow-next.svg") center no-repeat;
}

.photo-swiper {
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 100%;
}
.photo-swiper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.booking__price {
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}
.booking__properties {
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.booking-params {
  display: flex;
  justify-content: space-between;
}
.booking-quick {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 17px;
}
.booking-quick__phone {
  position: relative;
}
.booking-quick__phone::before {
  content: "";
  background: url("../img/phone-call.svg") center no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  left: -22px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.booking-quick__phone-link {
  color: inherit;
  text-decoration: none;
}
.booking__button {
  color: white;
  width: 100%;
  min-height: 45px;
  font-size: 14px;
  line-height: 19px;
}

.price__start {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.price__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}
.price__duration {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.properties__guests {
  display: block;
  text-align: right;
  position: relative;
}
.properties__guests::before {
  content: "";
  background: url("../img/user.svg") center no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  left: -22px;
}
.properties__rooms {
  display: block;
  text-align: right;
  position: relative;
  margin-top: 8px;
}
.properties__rooms::before {
  content: "";
  background: url("../img/home.svg") center no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  left: -22px;
}

.packages {
  background-color: #F5FAFE;
  padding: 40px 0px 70px;
}
.packages-title {
  margin-top: 0px;
  margin-bottom: 65px;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}
.packages-grid {
  display: grid;
  grid-template: 500px 500px/1fr 1fr 1fr;
  gap: 30px;
}
.packages__item {
  border-radius: 8px;
  overflow: hidden;
  background-color: #0A223D;
  color: white;
  display: grid;
  position: relative;
  grid-template: 50% 50%/100%;
}
.packages__item--main {
  grid-column: 1/3;
  grid-template: 100%/50% 50%;
}
.packages__offer {
  position: absolute;
  color: white;
  font-weight: 600;
  background-color: #EC1F46;
  border-radius: 4px;
  top: 26px;
  left: -4px;
  font-size: 8px;
  line-height: 10px;
  padding: 4px 9px 4px 13px;
}
.packages__offer--main {
  font-size: 12px;
  line-height: 15px;
  padding: 8px 12px 8px 16px;
}

.package-img {
  width: 100%;
  height: 100%;
}
.package-description {
  padding: 30px 21px 25px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.package-description--main {
  padding: 46px 21px 30px 44px;
}
.package-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
.package-title--main {
  margin-bottom: 27px;
}
.package-text {
  margin: 0px 0px 34px 0px;
  line-height: 160.6%;
}
.package-info {
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 15px;
}
.package-info--main {
  margin-bottom: 37px;
}
.package-address {
  margin-bottom: 11px;
  position: relative;
}
.package-address::before {
  content: "";
  position: absolute;
  left: -28px;
  width: 14px;
  height: 14px;
  background: url(../img/location.svg) center no-repeat;
}
.package-guests {
  margin-bottom: 11px;
  position: relative;
}
.package-guests::before {
  content: "";
  position: absolute;
  left: -28px;
  width: 14px;
  height: 14px;
  background: url(../img/user.svg) center no-repeat;
}
.package-rooms {
  position: relative;
}
.package-rooms::before {
  content: "";
  position: absolute;
  left: -28px;
  width: 14px;
  height: 14px;
  background: url(../img/home.svg) center no-repeat;
}
.package-old-price {
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.package-actual-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.package-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.package__button {
  padding: 10px 26px;
}

.newsletter {
  height: 260px;
  padding: 98px 0px 87px;
  /* Заменил Parallax-эффектом */
  position: relative;
}
.newsletter::before {
  content: "";
  background-color: rgba(10, 34, 61, 0.8);
  position: absolute;
  /* Чтобы текст был сверху синего фильтра */
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.newsletter-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  max-width: 731px;
  margin: auto;
}
.newsletter__header {
  margin: 0;
  color: white;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.newsletter__header--strong {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}

.subscribe-form {
  display: flex;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.subscribe-form__input {
  border: none;
  width: 350px;
  height: 55px;
  padding: 13px 80px 13px 23px;
  background-color: #F5FAFE;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  outline: none;
}
.subscribe-form__input::-moz-placeholder {
  color: #BDBDBD;
}
.subscribe-form__input:-ms-input-placeholder {
  color: #BDBDBD;
}
.subscribe-form__input::placeholder {
  color: #BDBDBD;
}
.subscribe-form__button {
  position: absolute;
  background-color: #EC1F46;
  color: white;
  border: none;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.reviews {
  background-color: #F5FAFE;
  padding: 40px 0px 70px;
}
.reviews-header {
  margin: 0 auto;
  padding: 0 7%;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.reviews-slider {
  max-width: 1074px;
  margin: 0 auto;
}
.reviews-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-95%);
  z-index: 10;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.reviews-slider__button--prev {
  left: 0px;
  background: url("../img/arrow-prev-gray.svg") center no-repeat;
}
.reviews-slider__button--next {
  right: 0px;
  background: url("../img/arrow-next-gray.svg") center no-repeat;
}

.review {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0px 97px 30px;
  margin: 45px auto 0px;
  border-radius: 8px;
  width: 68%;
  height: 100%;
  min-height: 280px;
}
.review::before {
  content: "";
  width: 70px;
  height: 48px;
  position: absolute;
  background: url(../img/quote.svg) center no-repeat;
  left: 64px;
  top: 13px;
}
.review::after {
  content: "";
  width: 70px;
  height: 48px;
  position: absolute;
  background: url(../img/quote.svg) center no-repeat;
  right: 60px;
  top: 119px;
  transform: rotate(180deg);
}
.review-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
  margin-bottom: 28px;
}
.review-info__name {
  color: #EC1F46;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0px;
}
.review-info__date {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #000;
}
.review-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.review-text {
  margin: 0;
  text-align: justify;
  font-size: 12px;
  line-height: 160%;
}

.activities {
  padding-top: 60px;
  padding-bottom: 98px;
  background-color: #F5FAFE;
}
.activities-header {
  margin: 0px 0px 57px 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 255px;
  height: 255px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  color: white;
  padding: 24px 26px;
}
.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  z-index: 1;
}
.card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card__header {
  margin: auto 0px 18px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  z-index: 2;
}
.card__button {
  padding: 7px 22px;
  font-size: 12px;
  line-height: 16px;
  z-index: 2;
}

.footer {
  background-color: #0A223D;
  padding: 108px 0px 46px;
}
.footer__grid {
  color: #BDBDBD;
  display: grid;
  grid-template: -webkit-min-content -webkit-min-content 38px 1fr/1fr 1fr 1fr 1fr;
  grid-template: min-content min-content 38px 1fr/1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 97px;
}
.footer__logo {
  grid-row: 1/3;
  align-self: center;
}
.footer__legal {
  margin-left: auto;
}
.footer__title {
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0px 0px 16px 0px;
}
.footer__title--inline {
  display: inline-block;
  margin-right: 42px;
}
.footer__categories {
  grid-row: 1/3;
}
.footer__social-network {
  grid-row: 2;
  grid-column: span 2;
}
.footer__contacts {
  grid-row: 4;
  grid-column: span 2;
}
.footer__contacts-title {
  margin-top: 12px;
  margin-bottom: 23px;
}
.footer__message {
  grid-row: 4;
  grid-column: span 2;
}
.footer__message-title {
  margin-bottom: 32px;
}
.footer__ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__item {
  font-size: 14px;
  line-height: 160%;
}
.footer__link {
  text-decoration: none;
  color: inherit;
}
.footer__social-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  min-width: 85px;
}
.footer__text {
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 24px;
}
.footer__contact {
  font-size: 14px;
  line-height: 160%;
  margin-left: 41px;
  margin-bottom: 20px;
  position: relative;
}
.footer__location::before {
  content: "";
  width: 14px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: -36px;
  background: url(../img/location-footer.svg) center no-repeat;
}
.footer__phone::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 7px;
  left: -38px;
  background: url(../img/phone-call-footer.svg) center no-repeat;
}
.footer_email::before {
  content: "";
  width: 16px;
  height: 14px;
  position: absolute;
  top: 6px;
  left: -37px;
  background: url(../img/mail.svg) center no-repeat;
}
.footer__form-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin: auto 0;
}
.footer__input {
  flex-basis: 47%;
}
.footer__input::-moz-placeholder {
  color: #BDBDBD;
  opacity: 1;
}
.footer__input:-ms-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
}
.footer__input::placeholder {
  color: #BDBDBD;
  opacity: 1;
}
.footer__textarea {
  height: 123px;
}
.footer__textarea::-moz-placeholder {
  color: #BDBDBD;
  opacity: 1;
}
.footer__textarea:-ms-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
}
.footer__textarea::placeholder {
  color: #BDBDBD;
  opacity: 1;
}
.footer__button {
  padding: 18px;
  min-width: 160px;
  color: white;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.footer__bottom {
  position: relative;
}
.footer__bottom-ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  line-height: 22px;
  justify-content: center;
  gap: 12px;
}
.footer__bottom-text {
  color: white;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}
.footer__payment {
  position: absolute;
  top: 0;
  right: 0;
}

.modal {
  visibility: hidden;
  opacity: 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 143, 223, 0.39);
  z-index: 201;
}
.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  padding: 33px 88px;
  background-color: #0A223D;
  width: 478px;
  z-index: 202;
}
.modal__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 0px 0px 15px;
}
.modal__input {
  flex-basis: 100%;
  margin-bottom: 20px;
}
.modal__textarea {
  min-height: 123px;
  margin-bottom: 15px;
}
.modal__button {
  color: white;
  padding: 18px;
  min-width: 160px;
}
.modal__form-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: white;
  margin: auto 0;
}
.modal__button-close {
  position: absolute;
  top: 17px;
  right: 18px;
  cursor: pointer;
  text-decoration: none;
}
.modal--visible {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1200px) {
  .wrapper, .reviews-slider {
    max-width: 91%;
  }
  .card {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
  .package-text {
    font-size: 12px;
  }
  .footer__contacts {
    max-width: 430px;
  }
}
@media (max-width: 992px) {
  .search-form {
    margin-left: auto;
  }
  .newsletter-wrapper {
    width: 91%;
    max-width: 700px;
  }
  .review {
    width: 82.8%;
  }
  .packages-grid {
    grid-template: 500px 500px 500px/1fr 1fr;
  }
  .package-text {
    font-size: 14px;
  }
  .footer__logo {
    width: 104px;
  }
  .footer__additional {
    width: 200px;
  }
  .footer__contacts {
    margin-right: 30px;
  }
  .footer__input {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .header-logo__image {
    width: 132px;
  }
  .header-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .search-form__input {
    width: 340px;
  }
  .nav__link {
    font-size: 12px;
    padding: 22px 0px;
  }
  .hotel-block {
    flex-direction: column;
  }
  .hotel-column {
    flex-direction: row;
    gap: 20px;
  }
  .hotel__booking {
    width: 50%;
  }
  .hotel__map {
    width: 50%;
  }
  .photo-slider {
    width: 100%;
  }
  .subscribe-form__input {
    width: 280px;
  }
  .review {
    padding: 0px 62px 30px;
  }
  .review::before, .review::after {
    display: none;
  }
  .reviews {
    padding-bottom: 60px;
  }
  .reviews-header {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .activities {
    padding-bottom: 50px;
  }
  .activities-header {
    font-size: 24px;
    line-height: 30px;
  }
  .package-text {
    font-size: 12px;
  }
  .footer {
    padding-top: 70px;
  }
  .footer__grid {
    grid-template: repeat(4, -webkit-min-content)/1fr 283px 1fr;
    grid-template: repeat(4, min-content)/1fr 283px 1fr;
    gap: 0px;
    row-gap: 20px;
    margin-bottom: 60px;
  }
  .footer__logo {
    width: 98px;
    grid-row: 1;
  }
  .footer__title {
    margin-top: 27px;
  }
  .footer__additional {
    width: auto;
    grid-row: 2;
  }
  .footer__social-network {
    grid-row: 1;
    grid-column: 2/4;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -14px;
  }
  .footer__categories {
    grid-row: 2;
  }
  .footer__legal {
    grid-row: 2;
  }
  .footer__contacts {
    grid-row: 3;
    grid-column: span 3;
    padding-top: 14px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .footer__message {
    grid-row: 4;
    grid-column: span 3;
    margin-top: -6px;
    max-width: 540px;
  }
  .footer__input {
    flex-basis: 47%;
  }
  .footer__bottom-ul {
    justify-content: flex-start;
  }
}
@media (max-width: 678px) {
  body {
    min-width: 303px;
  }
  .header-top {
    padding: 0px;
    height: 70px;
  }
  .header-logo__image {
    width: 99px;
  }
  .header__mobile--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .search-form--mobile--hidden {
    display: none;
  }
  .search-form--mobile--visible {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .search-form__input--mobile--visible {
    background-color: #fff;
    width: 245px;
  }
  .user--mobile--hidden {
    display: none;
  }
  .user--mobile--visible {
    color: white;
  }
  .user__link--mobile {
    flex-direction: column;
  }
  .user__name--mobile {
    margin: 10px 0 0 0;
  }
  .breadcrumbs {
    margin-top: 70px;
  }
  .menu-button {
    display: flex;
    flex-direction: column;
    width: 16px;
    height: 11px;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    cursor: pointer;
    outline: none;
  }
  .menu-button__line {
    background-color: #333;
    width: 16px;
    height: 1px;
  }
  .wrapper {
    max-width: 86%;
  }
  .nav {
    display: none;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
  }
  .nav__link {
    padding: 0;
  }
  .nav__item {
    padding: 0px 0px 20px 0px;
  }
  .nav__item--mobile--visible {
    display: block;
  }
  .nav--mobile--visible {
    display: block;
    position: fixed;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 31px 0px;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel__user-rating {
    display: none;
  }
  .hotel-stars {
    flex-basis: 23%;
  }
  .hotel-name {
    flex-basis: 100%;
  }
  .hotel-block {
    flex-direction: column;
  }
  .hotel-column {
    flex-direction: column;
  }
  .hotel__booking {
    width: 100%;
    max-width: 100%;
  }
  .hotel__map {
    width: 100%;
  }
  .offer {
    order: -1;
    margin-left: 0;
  }
  .photo-slider {
    height: auto;
  }
  .newsletter {
    height: 320px;
    padding: 76px 7% 83px;
  }
  .newsletter-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .subscribe-form {
    margin-top: 37px;
    max-width: 100%;
  }
  .review {
    width: 100%;
    padding: 0px 31px 36px;
  }
  .reviews {
    padding-bottom: 50px;
  }
  .reviews-slider__button {
    top: 45px;
  }
  .reviews-slider__button--prev {
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -77px;
  }
  .reviews-slider__button--next {
    right: 50%;
    transform: translate(50%, -50%);
    margin-right: -77px;
  }
  .reviews-header {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 42px;
  }
  .activities {
    padding-top: 40px;
  }
  .activities-header {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 36px;
  }
  .card {
    width: 100%;
  }
  .packages-grid {
    grid-template: repeat(5, 500px)/1fr;
  }
  .packages__item--main {
    grid-column: 1/2;
    grid-template: 50%/100%;
  }
  .packages__offer {
    font-size: 12px;
    line-height: 15px;
    padding: 8px 12px 8px 16px;
  }
  .package_hotel-stars {
    display: none;
  }
  .package-text {
    display: none;
  }
  .package-title--main {
    margin-bottom: 0;
  }
  .package-info--main {
    margin-bottom: 0;
  }
  .package-description--main {
    padding: 30px 21px 25px 32px;
  }
  .package-actual-price {
    font-size: 22px;
  }
  .footer {
    padding-top: 66px;
  }
  .footer__grid {
    grid-template: min-content/1fr;
    row-gap: 33px;
    margin-bottom: 25px;
  }
  .footer__social-network {
    grid-row: 2;
    grid-column: 1;
    margin-left: 0;
    margin-top: auto;
  }
  .footer__legal {
    grid-row: 3;
    grid-column: 1;
    margin-left: 0;
  }
  .footer__additional {
    grid-row: 4;
    grid-column: 1;
  }
  .footer__categories {
    grid-row: 5;
    grid-column: 1;
    margin-top: -3px;
  }
  .footer__contacts {
    grid-row: 6;
    grid-column: 1;
    padding-top: 6px;
    margin-right: 0;
  }
  .footer__message {
    grid-row: 7;
    grid-column: 1;
    margin-top: 3px;
  }
  .footer__message-title {
    margin-bottom: 16px;
  }
  .footer__input {
    flex-basis: 100%;
  }
  .footer__title {
    margin-top: 0px;
  }
  .footer__social-ul {
    margin-top: 7px;
  }
  .footer__textarea {
    margin-bottom: 15px;
  }
  .footer__button {
    order: 1;
  }
  .footer__form-text {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
  .footer__payment {
    position: static;
    margin-top: 7px;
  }
  .footer__bottom-ul {
    justify-content: space-between;
  }
  .footer__bottom-text {
    font-size: 11px;
  }
  .modal-window {
    min-width: 272px;
    width: 90%;
    padding-left: 7%;
    padding-right: 7%;
  }
}/*# sourceMappingURL=style.css.map */