* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #333;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  background-color: #fff;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-top__menu-button {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
}
.header-logo__image {
  width: 177px;
}

.search-form {
  display: flex;
  margin-left: 108px;
  margin-right: auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.search-form__input {
  border: none;
  width: 350px;
  padding: 13px 80px 13px 23px;
  background-color: #F5FAFE;
  font-size: 12px;
  outline: none;
}
.search-form__input::-moz-placeholder {
  color: black;
}
.search-form__input:-ms-input-placeholder {
  color: black;
}
.search-form__input::placeholder {
  color: black;
}
.search-form__button {
  position: absolute;
  background-color: #EC1F46;
  border: none;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  cursor: pointer;
}

.user__link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}
.user__avatar {
  border-radius: 50%;
  outline: 1px solid black;
  outline-offset: -1px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
}
.user__name {
  margin-left: 18px;
}

.nav {
  background-color: #0A223D;
}
.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.nav__link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 31px 0;
  line-height: 18px;
}

.breadcrumbs-list {
  list-style-type: none;
  font-size: 10px;
  display: flex;
  padding: 19px 0;
  margin: 0;
}
.breadcrumbs-list__link {
  text-decoration: none;
  color: inherit;
}
.breadcrumbs-list__item:not(:last-child):after {
  content: "/";
  margin-right: 2px;
}

.hotel {
  padding: 18px 0px 20px;
}
.hotel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.hotel-stars {
  flex-basis: 100%;
}
.hotel-stars__image {
  width: 8px;
  height: 8px;
}
.hotel-name {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 1px 0px;
}
.hotel-descriptrion {
  font-size: 12px;
  margin: 0;
}
.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hotel__user-rating {
  background-color: #EC1F46;
  border-radius: 4px;
  color: white;
  display: flex;
  padding: 7px;
  flex-direction: column;
  align-items: center;
}

.user-rating__text {
  font-size: 8px;
  line-height: 10px;
}
.user-rating__counter {
  font-size: 14px;
  line-height: 18px;
}
.user-rating__max {
  font-size: 10px;
  line-height: 14px;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  color: white;
  background-color: #EC1F46;
  padding: 4px 9px 3px;
  border-radius: 3px;
  margin-left: 14px;
}

.photo-slider {
  width: 728px;
}
.photo-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.photo-slider__button--prev {
  left: 16px;
  background: url("../img/arrow-prev.svg") center no-repeat;
}
.photo-slider__button--next {
  right: 16px;
  background: url("../img/arrow-next.svg") center no-repeat;
}

.swiper {
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 450px;
}
.swiper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.popup-menu {
  display: none;
}

.popup-menu--active {
  display: block;
  background-color: #0A223D;
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 91%;
  }
}
@media (max-width: 992px) {
  .search-form {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .header-logo__image {
    width: 132px;
  }
  .header-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .search-form {
    width: 340px;
  }
  .nav__link {
    font-size: 12px;
    padding: 22px 0px;
  }
}
@media (max-width: 678px) {
  body {
    min-width: 320px;
  }
  .header-logo__image {
    width: 99px;
  }
  .menu-button {
    display: flex;
    flex-direction: column;
    width: 16px;
    height: 11px;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    cursor: pointer;
  }
  .menu-button__line {
    background-color: #333;
    width: 16px;
    height: 1px;
  }
  .wrapper {
    max-width: 86%;
  }
  .search-form, .user, .nav {
    display: none;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel__user-rating {
    display: none;
  }
  .hotel-stars {
    flex-basis: 23%;
  }
  .hotel-name {
    flex-basis: 100%;
  }
  .offer {
    order: -1;
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */