@media (max-width: 1200px)
  .wrapper
    max-width: 91%

@media (max-width: 992px)
  .search-form
    margin-left: auto

@media (max-width: 768px)
  .header
    &-logo
      &__image
        width: 132px
    &-top
      padding-top: 30px
      padding-bottom: 30px
  .search-form
    width: 340px
  .nav
    &__link
      font-size: 12px
      padding: 22px 0px

@media (max-width: 678px)

  body
    min-width: 320px

  .header
    &-logo
      &__image
        width: 99px

  .menu-button
    display: flex
    flex-direction: column
    width: 16px
    height: 11px
    align-items: center
    justify-content: space-between
    background-color: inherit
    cursor: pointer
    &__line
      background-color: $text-color
      width: 16px
      height: 1px

  .wrapper
    max-width: 86%

  .search-form, .user, .nav
    display: none

  .hotel
    &-wrapper
      justify-content: space-between
    &__user-rating
      display: none
    &-stars
      flex-basis: 23%
    &-name
      flex-basis: 100%

  .offer
    order: -1
    margin-left: 0
