@media (max-width: 1200px)
  .wrapper, .reviews-slider
    max-width: 91%

  .card
    width: calc(50% - 15px)
    margin-bottom: 30px

  .package-text
    font-size: 12px

@media (max-width: 992px)
  .search-form
    margin-left: auto

  .newsletter-wrapper
    width: 91%
    max-width: 700px

  .review
    width: 82.8%

  .packages
    &-grid
      grid-template: 500px 500px 500px / 1fr 1fr

  .package-text
    font-size: 14px

@media (max-width: 768px)
  .header
    &-logo
      &__image
        width: 132px
    &-top
      padding-top: 30px
      padding-bottom: 30px

  .search-form
    width: 340px

  .nav
    &__link
      font-size: 12px
      padding: 22px 0px

  .hotel
    &-block
      flex-direction: column
    &-column
      flex-direction: row
      gap: 20px
    &__booking
      width: 50%
    &__map
      width: 50%

  .photo-slider
    width: 100%

  .subscribe-form__input
    width: 280px

  .review
    padding: 0px 62px 30px
    &::before, &::after
      display: none

  .reviews
    padding-bottom: 60px
    &-header
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px

  .card
    width: calc(50% - 10px)
    margin-bottom: 20px

  .activities
    &-header
      font-size: 24px
      line-height: 30px

  .package-text
    font-size: 12px

@media (max-width: 678px)

  body
    min-width: 303px

  .header
    &-logo
      &__image
        width: 99px

  .menu-button
    display: flex
    flex-direction: column
    width: 16px
    height: 11px
    align-items: center
    justify-content: space-between
    background-color: inherit
    cursor: pointer
    &__line
      background-color: $text-color
      width: 16px
      height: 1px

  .wrapper
    max-width: 86%

  .search-form, .user, .nav
    display: none

  .hotel
    &-wrapper
      justify-content: space-between
    &__user-rating
      display: none
    &-stars
      flex-basis: 23%
    &-name
      flex-basis: 100%
    &-block
      flex-direction: column
    &-column
      flex-direction: column
    &__booking
      width: 100%
      max-width: 100%
    &__map
      width: 100%

  .offer
    order: -1
    margin-left: 0

  .photo
    &-slider
      height: auto

  .newsletter
    height: 320px
    padding: 76px 7% 83px
    &-wrapper
      flex-direction: column
      align-items: flex-start
      margin: 0

  .subscribe-form
    margin-top: 37px
    max-width: 100%

  .review
    width: 100%
    padding: 0px 31px 36px

  .reviews
    padding-bottom: 50px
    &-slider
      &__button
        top: 45px
        &--prev
          left: 50%
          transform: translate(-50%, -50%)
          margin-left: -77px
        &--next
          right: 50%
          transform: translate(50%, -50%)
          margin-right: -77px
    &-header
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px

  .activities
    padding-top: 40px
    &-header
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px

  .card
    width: 100%

  .packages
    &-grid
      grid-template: repeat(5, 500px) / 1fr
    &__item--main
      grid-column: 1 / 2
      grid-template: 50% / 100%
    &__offer
      font-size: 12px
      line-height: 15px
      padding: 8px 12px 8px 16px

  .package
    &_hotel-stars
      display: none
    &-text
      display: none
    &-title--main
      margin-bottom: 0
    &-info--main
      margin-bottom: 0
    &-description--main
      padding: 30px 21px 25px 32px
    &-actual-price
      font-size: 22px
