*
  box-sizing: border-box

body
  font-family: "Mulish", sans-serif
  font-size: 14px
  color: $text-color
  overflow-y: scroll

.wrapper
  max-width: 1110px
  margin: 0 auto

img
  max-width: 100%
  object-fit: cover

.form
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.button
  background-color: $theme-color-red
  border: none
  color: inherit
  border-radius: 4px
  cursor: pointer
  font-family: "Nunito"
  font-weight: 600

.input
  background: white
  border-radius: 4px
  font-size: 12px
  line-height: 15px
  padding: 17px 23px
  margin-bottom: 15px
  border: none

.textarea
  background: white
  flex-basis: 100%
  border-radius: 4px
  padding: 18px 23px
  resize: none
  margin-bottom: 22px
  font-size: 12px
  line-height: 15px
  border: none

.section--disabled
  display: none
