*
  box-sizing: border-box

body
  font-family: "Mulish", sans-serif
  font-size: 14px
  color: $text-color
  overflow-y: scroll

.wrapper
  max-width: 1110px
  margin: 0 auto

img
  max-width: 100%
  object-fit: cover

.section--disabled
  display: none
